.secondary-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF; /* Gold */
  padding: 10px 20px;
}

.secondary-navbar .nav-links a {
  color: #002855; /* Dark Blue */
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
}

.secondary-navbar .nav-links a:hover {
  text-decoration: underline;
}

.secondary-navbar .auth-buttons {
  display: flex;
  gap: 10px;
}

.secondary-navbar .login-btn {
  background-color: white;
  color: #002855;
  border: 2px solid #002855;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.join-btn {
  background-color: #002855;
  color: white;
  border: 2px solid #002855;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover,
.join-btn:hover {
  opacity: 0.9;
}
